<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">{{app_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/signIn">Sign In</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
          <a href="#" class="nav-link" routerLink="/user">Users</a>
        </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a href="#" class="nav-link" routerLink="/areas">Areas</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a href="#" class="nav-link" routerLink="/indicators">Indicators</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a href="#" class="nav-link" routerLink="/report-user-more-logged">Report user more logged</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a href="#" class="nav-link" routerLink="/report-indicator-more-hidden">Report indicator more hidden</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a href="#" class="nav-link" routerLink="/reports-logs">Logs by date</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a href="#" class="nav-link" routerLink="/asociate-area-manager">View Area-Manager</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && isAdmin">
        <a href="#" class="nav-link" routerLink="/add-area-manager">Add Area-Manager</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && !isAdmin">
        <a href="#" class="nav-link" routerLink="/manager">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && !isAdmin">
        <a href="#" class="nav-link" routerLink="/dashboar-config">Dashboard Config</a>
      </li>
      <li class="nav-item" *ngIf="isLogged && !isAdmin">
          <a href="#" class="nav-link" routerLink="/reports-manager">Reports</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a href="#" class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>