<div class="row mt-5">
    <div class="col">
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">areaId</th>
            <th scope="col">areaName</th>
            <th scope="col">visibleIndicators</th>
            <th scope="col">greenIndicators</th>
            <th scope="col">yellowIndicators</th>
            <th scope="col">redIndicators</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let report of reports">
            <td>{{report.areaId}}</td>
            <td>{{report.areaName}}</td>
            <td>{{report.visibleIndicators}}</td>
            <td>{{report.greenIndicators}}</td>
            <td>{{report.yellowIndicators}}</td>
            <td>{{report.redIndicators}}</td>
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>
  <app-modal></app-modal>
