<div class="row mt-5">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let area of areas">
            <td>{{area.id}}</td>
            <td>{{area.name}}</td>
            <td>
              <button class="btn btn-primary" (click)="routeareaviewindicators(area.id)">View Indicator</button>
            </td>
            <td>
                <button class="btn btn-primary" (click)="routearaddindicators(area.id)">Add Indicator</button>
              </td>
              <td>
                  <button class="btn btn-primary" (click)="routearviewmanagers(area.id)">View managers</button>
              </td>
              <td>
                  <button class="btn btn-primary" (click)="routearaddmanagers(area.id)">Add managers</button>
              </td>
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>