<br>
<br>
<br>
<div class='panel panel-primary'>
        <div class='panel-body'>
      
            <div class='table-responsive'>
                <table class='table'>
                    <!--Cabezal de la tabla -->
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Position</th>
                            <th>Area</th>
                            <th>Indicator name</th>
                            <th>Visible</th>
                            <th></th>
                        </tr>
                    </thead>
      
                        <tbody>
                            <tr *ngFor='let indicator of indicators | sortIndicatorDetails'>
                                <td>{{indicator.id}}</td>
                                <td>{{indicator.position}}</td>
                                <td>{{indicator.areaName}}</td>
                                <td>{{indicator.customName}}</td>
                                <td>{{indicator.visible == true ? 'YES': 'NO'}}</td>
                                <td>
                                    <button class="btn btn-primary" (click)="onPreUpdateIndicator(indicator)" data-toggle="modal" data-target="#modalDashboard">Update</button>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
      </div>
      <app-modal-dashboard></app-modal-dashboard>